<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dxt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lanch"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.CameraActivityTest" />
        <activity android:name=".view.MediaPlayerActivity" />
        <activity android:name=".IssueActivity" />
        <activity android:name=".HighScoreIssue" />
        <activity android:name=".ProblemList" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Regist" />
        <activity android:name=".RegistFirst" />
        <activity android:name=".view.UserCenter" />
        <activity android:name=".view.UserCenterInformation"/>
        <activity android:name=".ChooseGrade" />
    </application>

</manifest>